//Universal styling, structure and other elements
main {
	margin-top: 70px;
}
a {
	text-decoration: none;
}
.offset-by-two.columns.eight.columns.show {
	margin-bottom: -25px;
}
.offset-by-two.column.ten.column.splash-btn {
	margin-top: 20px;
	margin-bottom: 5px;
}
button.blk {
	font-size:1.5em;
	background-color: $blk;
	height:auto;
	-webkit-transition: all .7s ease;
	-moz-transition: all .7s ease;
	-ms-transition: all .7s ease;
	-o-transition: all .7s ease;
	transition: all .7s ease;
	padding-top: .4em;
	padding-bottom: .4em;
	a {
		color: $wht;
	}
	&:hover{
		background: linear-gradient(222deg, #e41f26, #019a49, #572c81);
		background-size: 600% 600%;

		-webkit-animation: creativeButton 9s ease infinite;
		-moz-animation: creativeButton 9s ease infinite;
		animation: creativeButton 9s ease infinite;
	}
}
@-webkit-keyframes creativeButton {
	0%{background-position:0% 92%}
	50%{background-position:100% 9%}
	100%{background-position:0% 92%}
}
@-moz-keyframes creativeButton {
	0%{background-position:0% 92%}
	50%{background-position:100% 9%}
	100%{background-position:0% 92%}
}
@keyframes creativeButton {
	0%{background-position:0% 92%}
	50%{background-position:100% 9%}
	100%{background-position:0% 92%}
}
button.wht {
	font-size:1.5em;
	height:auto;
	background-color: $wht;
	-webkit-transition: all .7s ease;
	-moz-transition: all .7s ease;
	-ms-transition: all .7s ease;
	-o-transition: all .7s ease;
	transition: all .7s ease;
	padding-top: .4em;
	padding-bottom: .4em;
	a {

		color: $blk;
	}
	&:hover{
		background: linear-gradient(140deg, #ec6523, #f8bc16, #047bc1);
		background-size: 600% 600%;

		-webkit-animation: showButton 9s ease infinite;
		-moz-animation: showButton 9s ease infinite;
		animation: showButton 9s ease infinite;
		a{
			color: $wht;
		}
	}
}


@-webkit-keyframes showButton {
	0%{background-position:4% 0%}
	50%{background-position:97% 100%}
	100%{background-position:4% 0%}
}
@-moz-keyframes showButton {
	0%{background-position:4% 0%}
	50%{background-position:97% 100%}
	100%{background-position:4% 0%}
}
@keyframes showButton {
	0%{background-position:4% 0%}
	50%{background-position:97% 100%}
	100%{background-position:4% 0%}
}
div.arrow-down {
	text-align: center;
	margin-bottom: 0px;
	position: absolute;
	bottom: 0;
	left: 0;
	a{
		color: $wht;
	}
}
div.wwa {
	margin-top: 50px;
}
div.center-align {
	text-align: center;
}
div.center-txt > h1 {
	margin-bottom: -5px;
}
h6#mctc {
	margin-top:-20px;
}
h1.heading-one {
	font-size:3rem;
}
a#down-arrow-trans {
	transition: all .3s linear;
	display: inline-block;
	padding-bottom: 5px;
}
a#down-arrow-trans:hover {
	transition: all .3s linear;
}
.hero{
	background-color: #000;
	width:100%;
	max-width:100%;
	padding:0px 15%;
	display: flex;
	flex-direction: row;
	align-items: center;
	h1 {
		font-size:3rem;
	}
	.inner{
		height:auto;
		width:auto;
	}
.pre-header{
	text-align: center;
	color: #FFF;
	padding-bottom:1.5em;
}
	.sub-header{
		padding-top:1.5em;
		color: #fff;
		font-size:1.4em;
	}
}

.container.section-container {
	overflow: hidden;
	background-color: #111;
	width: 100%;
	max-width: 100%;
	background: linear-gradient(0deg, #000000, #1c1c1c, #000000);
#wave{
	position: absolute;
	top:0;
	left:0;
	right:0;
}
	#wave-spectrum{
		stroke-linecap: round;
	}
}
.section{
	height:600px;
	display: flex;
	flex-direction: row;
	align-items: center;
}
