//Universal styling, structure and other elements
main {
	margin-top: 200px;
	margin-bottom: 150px;
}
a {
	text-decoration: none;
}
.offset-by-two.columns.eight.columns.show {
	margin-bottom: -25px;
}
.offset-by-three.columns.ten.columns.splash-btn {
	margin-top: 20px;
	margin-bottom: 140px;
}
button.blk {
	background-color: $blk;
}
button.blk a {
	color: $wht;
}
button.wht a {
	color: $blk;
}
div.arrow-down {
	text-align: center;
	margin-bottom: -50px;
}
div.wwa {
	margin-top: 50px;
}
div.center-align {
	text-align: center;
}
div.center-txt > h1 {
	margin-bottom: -5px;
}
h6#mctc {
	margin-top:-20px;
}
h1.heading-one {
	margin-bottom: -5px;
}
a#down-arrow-trans {
	transition: all .3s linear;
}
a#down-arrow-trans:hover {
	transition: all .3s linear;
}