header {
  width: 100%;
  max-width: 100%;
  height: 70px;
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(17,17,17,0.7);
  -moz-box-shadow: 0px 2px 4px 0px rgba(17,17,17,0.7);
  box-shadow: 0px 2px 4px 0px rgba(17,17,17,0.7);
}
a.logo{
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  display: block;
  float: left;
  margin:10px 20px;
  position: relative;
  &:hover{
    filter: brightness(195%);
  }
  img{
    &.s-logo{
      height:50px;
      width:auto;
    }
  }
}
.nav-button {
  margin: 20px;
  float: right;
  display: block;
  height: 20px;
  width: 40px;
  position: relative;
  &:hover {
    cursor: pointer;
    span.bars {
      -webkit-transition: all 1s ease;
      -moz-transition: all 1s ease;
      -ms-transition: all 1s ease;
      -o-transition: all 1s ease;
      transition: all 1s ease;
      -webkit-animation: navBarOne 9s ease infinite;
      -moz-animation: navBarOne 9s ease infinite;
      animation: navBarOne 9s ease infinite;
      &.one{
        border-color: $red;
      }
      &.two {
        width: 100%;
        border-color:$green;
      }
      &.three{
        border-color: $blue;
      }
    }
  }

  span.bars {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    width: 100%;
    border-top: 1px solid #fff;
    position: absolute;
    right: 0;
    display: inline-block;
    &.one {
      top: 0;
    }
    &.two {
      top: calc(50% - 1px);
    }
    &.three {
      bottom: 0;
    }
  }
}

@-webkit-keyframes navBarOne {
  0%{border-color:$red;}
  14.2857%{border-color:$orange;}
  28.5714%{border-color:$yellow}
  42.8571%{border-color:$green;}
  57.1428%{border-color:$blue;}
 85.7142%{border-color:$purple;}
  100%{border-color:$red;}
}
@-moz-keyframes navBarOne {
  0%{border-color:$red;}
  14.2857%{border-color:$orange;}
  28.5714%{border-color:$yellow}
  42.8571%{border-color:$green;}
  57.1428%{border-color:$blue;}
  85.7142%{border-color:$purple;}
  100%{border-color:$red;}
}
@keyframes navBarOne {
  0%{border-color:$red;}
  14.2857%{border-color:$orange;}
  28.5714%{border-color:$yellow}
  42.8571%{border-color:$green;}
  57.1428%{border-color:$blue;}
  85.7142%{border-color:$purple;}
  100%{border-color:$red;}
}


.nav-menu {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:#111;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  transform: scale(0, 0);


  .nav-close {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    width: 40px;
    height: 40px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    z-index:5;
    &:hover {
      cursor: pointer;
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      transform: rotate(90deg);
      //transform-origin: 50% 50%;
    }
    span.bar {
      width: 100%;
      border-top: 1px solid #f1f1f1;
      position: absolute;
      top: 50%;
      //right: 0;
      display: inline-block;

      &.one {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        transform-origin: 50% 50%;
      }
      &.two {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        transform-origin: 50% 50%;
      }
    }
  }
  ul {
    margin: 0;
    padding: 0;
    top: 0;
    position: absolute;
    list-style-type: none;
    display: block;
    padding: 40px 0;
    left: 0%;
    bottom: 0;
    width: 100%;

    @media(min-width:778px){
      width:80%;
      left:10%;
    }
    @media(min-width:980px){
      width:75%;
      left:12.5%;
    }
    @media(min-width:1080px){
      width:70%;
      left:15%;
    }
    @media(min-width:1080px){
      width:65%;
      left:17.5%;
    }
    li {
      display: block;
      padding: 0 10px;
      position: absolute;
      top: 0px;
      bottom: 0px;
      left: 0px;
      right: 0px;
      border: 1px solid #FFF;
      text-align: center;
      background-color: #111;
      z-index:1;
      opacity: 1;
      -webkit-transition: all .3s ease;
      -moz-transition: all .3s ease;
      -ms-transition: all .3s ease;
      -o-transition: all .3s ease;
      transition: all .3s ease;
      @media(min-width: 425px){
        top:0px;
        left:0px;
        right:0px;
        bottom:0px;
      }
      @media(min-width: 600px){
        top:30px;
        left:5%;
        right:5%;
        bottom:10px;
      }
      &:hover{
        background-color:#E41F26;
      }
      &:nth-child(2) {
        top: 50px;
        bottom: 15px;
        left: 5%;
        right: 5%;
        z-index:2;
        @media(min-width: 425px){
          top: 50px;
          bottom: 25px;
          left: 10%;
          right: 10%;
        }
        @media(min-width: 600px){
          top: 80px;
          bottom: 20px;
          left: 10%;
          right: 10%;
        }
        &:hover{
          background-color:#EC6523;
        }
      }
      &:nth-child(3) {
        top: 100px;
        bottom: 30px;
        left: 10%;
        right: 10%;
        z-index:3;
        @media(min-width:425px){
          top: 100px;
          bottom: 30px;
          left: 15%;
          right: 15%;
        }
        @media(min-width: 600px){
          top: 130px;
          bottom: 40px;
          left: 15%;
          right: 15%;
        }
        &:hover{
          background-color:#F8BC16;
        }
      }
      &:nth-child(4) {
        top: 150px;
        bottom: 45px;
        left: 15%;
        right: 15%;
        z-index:4;
        @media(min-width:425px){
          top: 150px;
          bottom: 40px;
          left: 20%;
          right: 20%;
        }
        @media(min-width:600px){
          top: 180px;
          bottom: 55px;
          left: 20%;
          right: 20%;
        }
        &:hover{
          background-color:#019A49;
        }
      }
      &.social{
        top: 200px;
        bottom: 60px;
        left: 20%;
        right: 20%;
        z-index:4;
        @media(min-width:425px){
          top: 200px;
          bottom: 50px;
          left: 25%;
          right: 25%;
        }
        @media(min-width:600px){
          top: 230px;
          bottom: 70px;
          left: 25%;
          right: 25%;
        }
        &:hover{
          background-color:#572C81;
        }
      }
      a{
        color: #FFF;
        display: inline-block;
        text-decoration: none;
        font-size:30px;
        line-height:1;
        padding:10px 0 0;
        text-transform: uppercase;
        font-family:$primaryFont;
      }
      &.social{
        a{
          font-size:40px;
          padding:20px;
          line-height:1;
          display: block;
          &:after{
            content: '';
            clear: both;
          }
        i.fa{
         
        }
        }

      }
    }
  }
}
